@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-top: 1rem;
    width: 50%;
    height: auto;
}

.meny-bar {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.search-container{
    display: flex;
    margin: 0 auto;
    margin-left: 1rem;
    float: left;
}

.search-bar{
    display: flex;
    margin: 0 auto;
    border: 0.5px solid rgb(209, 209, 209);
    align-items: center;    
}

.searchbox{
    border: none;
    outline: none;
    padding-left: 0.5rem;
}

.search-buttons button{
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 0;
    background: none;
    color: rgb(168, 168, 168);
    outline: none;
}

.search-buttons button:hover{
    cursor: pointer;    
}

::-webkit-scrollbar {
    width: 15px;
    transition: 0.2s ease;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(228, 201, 49);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    border: 2px solid rgb(228,201,49);
  }


.notes-container {
    margin: 1rem;
    display: flex;
}

.notes-list{
    height: 500px;
    width: 250px;
    overflow-y: auto;
}

.notes-list ul li {
    padding: 0.5rem;
    border-bottom: 0.5px solid rgb(206, 206, 206);
    margin-top: 1rem;
    font-size: 12px;
}

.note {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.note input{
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-top: 0.5px solid rgb(206, 206, 206);
    font-weight: bold;
    font-size: 20px;

}

.note textarea{
    border: 0.5px solid rgb(206, 206, 206);
    outline: none;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}