@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-top: 1rem;
    width: 50%;
    height: auto;
}

.search-container{
    margin: 0 auto;
    margin-bottom: 2rem;
}

.search-bar{
    display: flex;
    margin: 0 auto;
    width: 100%;
    border: 0.5px solid rgb(209, 209, 209);  
}

.search-bar input{
    width: 100%;
}

.searchbox{
    border: none;
    outline: none;
    padding-left: 0.5rem;
}

.search-buttons button{
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 0;
    background: none;
    color: rgb(168, 168, 168);
    outline: none;
    transition: 0.2s ease;
}

.search-buttons button:hover{
    cursor: pointer;
    color: black;    
}

.search-buttons button:active{
    transform: scale(1.1);
}

.file-upload__input {
    display: none;
}

.file-upload__label {
}


::-webkit-scrollbar {
    width: 15px;
    transition: 0.2s ease;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(228, 201, 49);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    border: 2px solid rgb(228,201,49);
  }


.notes-container {
    margin: 1rem;
    display: flex;
}

.notes-list{
    height: 447px;
    width: 250px;
    overflow-y: auto;
}

.note-li {
    padding: 0.5rem;
    border-bottom: 0.5px solid rgb(206, 206, 206);
    margin-top: 1rem;
    font-size: 12px;
    list-style-type: none;
}

.note-li h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.note-li button{
    display: none;
}

.note {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.note input{
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-top: 0.5px solid rgb(206, 206, 206);
    font-weight: bold;
    font-size: 20px;

}

.note input::placeholder{
    color:rgb(206, 206, 206);
}

.note textarea{
    border: 0.5px solid rgb(206, 206, 206);
    outline: none;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

.choice-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    left: 40%;
    margin-top: 0.25rem;
}

.choice-container button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background: rgb(238, 215, 82);
    color: white;
    font-size: 140%;
    transition: 0.2s ease;
    outline: none;
}

.choice-container button:hover{
    cursor: pointer;
    background: white;
    color: rgb(238, 215, 82);
    border: 0.5px solid rgb(238, 215, 82);
}

.choice-container button:active{
    transform: scale(1.1);
    outline: none;
}