@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: unset;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-top: 1rem;
    width: 50%;
    height: auto;
}

.main-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.search-container{
    margin: 0 auto;
    margin-bottom: 2rem;
}

.search-bar{
    display: flex;
    margin: 0 auto;
    width: 50%;
    float: left;
    border-right: 0.5px solid rgb(209, 209, 209);  
    border-bottom: 0.5px solid rgb(209, 209, 209);  
    border-left: 0.5px solid rgb(209, 209, 209);  
}

.search-bar input{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.searchbox{
    border: none;
    outline: none;
    padding-left: 0.5rem;
}

.search-buttons button{
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 0;
    background: none;
    color: rgb(168, 168, 168);
    outline: none;
    transition: 0.2s ease;
}

.search-buttons button:hover{
    cursor: pointer;
    color: black;    
}

.search-buttons button:active{
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 10px;
    transition: 0.2s ease;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(228, 201, 49);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: white;
    border: 2px solid rgb(228,201,49);
  }

.list-container{
    width: 30%;
}

.notes-container {
    margin: 1rem;
    display: flex;
    width: 80%;
    margin-right: 1rem;
    border-top: 0.5px solid rgb(206, 206, 206);
}

.notes-list{
    height: 480px;
    overflow-y: auto;
    margin-top: 2.5rem;
}

.note-li {
    padding: 0.5rem;
    border-bottom: 0.5px solid rgb(206, 206, 206);
    margin-top: 1rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    font-size: 12px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease;
}   

.noteli-text h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.note-li:hover{
    cursor: pointer;
    -moz-box-shadow:     inset 0 0 7px #cacaca;
    -webkit-box-shadow:  inset 0 0 7px #cacaca;
    box-shadow:          inset 0 0 7px #cacaca;
    transform: scale(1.05);
}

.thumbnail {
    width: auto;
    height: 75px;
    border: 0;
}

.note-li i {
    font-size: 30px;
    color: rgb(228, 201, 49);
    margin: 0;
    padding: 0;
}

#date {
    font-size: 105%;
    margin-bottom: 0.5rem;
    color: rgb(110, 110, 110);
}

.note {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 80%;
    height: 470px;
}

.text-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 467px;
    border: 0.5px solid rgb(206, 206, 206);
    margin: 0;
    padding: 0;
}

.image-container {
    width: 100%;
    max-height: 467px;
    text-align: right;
}

.image-container img{
    width: 100%;
    height: auto;
    max-height: 465px;
    max-width: 755px;    
}

.image-container a {
    margin: 0 auto;
    display: flex;
    font-size: 15px;
    color: black;
    transition: 0.2s ease;
}

.image-container a:hover {
    font-weight: bold;
    font-size: 16px;
}

.note input{
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.note input::placeholder{
    color:rgb(206, 206, 206);
}

.note textarea{
    outline: none;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    border: none;
}

.choice-container{
    display: block;
    flex-direction: row;
    margin-left: 0;
    margin-top: 0.25rem;
    align-items: center;
}

.choice-container button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0;
    margin-top: 0.25rem;
    margin-right: 1rem;
    background: rgb(238, 215, 82);
    color: white;
    font-size: 140%;
    transition: 0.2s ease;
    outline: none;
}

.choice-container button:hover{
    /*cursor: pointer;*/
    background: white;
    color: rgb(238, 215, 82);
    transform: scale(1.2);
    border: 0.5px solid rgb(238, 215, 82);
}

.file-upload__input {
    display: none;
}

.file-upload__label {
    color: rgb(163, 163, 163);
    font-size: 75%;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9%;
    text-align: center;
    background-color: rgb(255, 249, 217);
  }

  .logotext {
      font-size: 20px;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
  }

  .contributors {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contributors a { 
      color: black;
      font-size: 10px;
      margin-left: 1rem;
      margin-right: 1rem;
      text-decoration: none;
      transition: 0.2s ease;
  }

  .contributors a:hover{
      transform: scale(1.2);
      font-weight: bold;
  }

  .contributors p {
      color: rgb(212, 212, 122);
  }


@media only screen and (max-width: 1500px){
    .search-bar{
        width: 70%;
    }
}

@media only screen and (max-width: 1300px){

    .notes-container{
        width: 95%;
    }
}

@media only screen and (max-width: 900px){
    .thumbnail {
        width: 50px;
        height: 50px;
        border: none;
    }
}

@media only screen and (max-width: 730px){
    #note {
        width: 40%;
    }
}

@media only screen and (max-width: 402px){
    .notes-container {
        width: 50%;
    }
}